<h1><%=@user.name%> </h1>
<% @secrets.each do |secret| %>
  
  <p><%=secret.user_id%> <%=secret.content%>
  <%=Secret.find(secret.id).likes.count%> likes
  <%if !Like.where('secret_id': secret.id, 'user_id': session[:user_id]).first%>
  <a href ="/likes/<%=secret.id%>" data-method="post" id="Like" name="Like" ><button  >Like</button></a>
  <% end %>
  <%if (Like.where('secret_id': secret.id, 'user_id': session[:user_id]).first)!=nil%>
  <a href ="/likes/<%=secret.id%>" data-method="delete" id="Unlike" name ="Unlike"><button  >Unlike</button></a>
 <% end %>
  <% if current_user == secret.user %>
     <a href ="/secrets/<%=secret.id%>" data-method="delete"><button>Delete Secret</button></a>
</p>
  <% end %>
<% end %>


http://learn.codingdojo.com/m/9/4764